@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

/* This media query applies when the user's system/device is set to dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these styles to your global CSS */
.gist {
  margin: 1.5rem 0;
}

.gist-file {
  border-radius: 0.5rem !important;
  border: 1px solid var(--gray-muted) !important;
}

.gist-data {
  border-radius: 0.5rem !important;
}

.gist .blob-wrapper {
  border-radius: 0.5rem !important;
}